@mixin wh($w: 100%, $h: 100%) {
    width: $w;
    height: $h;
}

@mixin flexcenter($fd: column) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $fd;
}

.secrets-env-vars {
    @include wh(100%, 85vh);
    @include flexcenter(column);
    gap: 3rem;
}

.credentials {
	display: inline-flex;
	align-items: center;

	.sep {
		margin: 0 0.75rem;
		height: 0.15rem;
		width: 0.5rem;
		background-color: white;
	}
}